<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gibber Frontend</title>

    <link href="./node_modules/semantic-ui-css/semantic.css" rel="stylesheet"></link>
    <link href="./node_modules/codemirror/lib/codemirror.css" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.min.css">
  </head>

  <body>
    <div id="app"></div>

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/form-serializer/dist/jquery.serialize-object.min.js"></script>
    <script src="./semantic/dist/semantic.min.js"></script>
    <script src="./semantic/dist/components/sidebar.min.js"></script>
    <script src="./semantic/dist/components/tab.min.js"></script>
    <script src="./semantic/dist/components/modal.min.js"></script>
    <script src="./semantic/dist/components/dropdown.min.js"></script>
    <script src="./index.js"></script>
  </body>

</html>
